h1{
    color: white;
}
li{
    color: white;
    font-size: 25px;
    font-family: fantasy;
}
body {
    background: white url("images/background.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
       
}